
/*
This is my first time writing a proper CSS file for a website and so please excuse any unconventional methods (and do let me know how I can improve! Please let me know at james.tavernor16@imperial.ac.uk
 */


/* PAGE CSS */

html {
    font-family: HelvLight;
    background-color: #ffffff;
    color: #000000;
}
body {
    margin: 0px;
}

a:hover {
    text-decoration: underline;
}

/**** CLASSES BELOW ****/

.text-centre {
    text-align: center;
}
.title {
    margin-bottom: 0;
}
table {
    margin: auto;
    border-collapse: collapse;
}
table, th, td {
    border-top: 0px solid;
    border-bottom: 1px solid;
    border-color: #afafaf;
}
th {
    border-bottom: 2px solid;
    border-color: #878787;
}
th, td {
    padding: 15px;
}

/* CONTAINER CSS */

.container {
    padding: 10px;
    margin: auto;
}
/* everything in container should be border-box so padding is included in width/height */
.container *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row, .rowTilesConstantHeight {
    width: 100%;
    float: left;
    margin-left: -10px;
    margin-right: -10px;
}

.indexPage .rowTilesConstantHeight {
    padding-top: 15vh;
}

@media screen and (max-device-width: 750px) and (orientation: portrait) {
    /* the padding of 15vh is to make it look nice in the middle on a desktop so disable it for smaller devices */
    .row, .rowTilesConstantHeight {
        padding-top: 0;
    }
}
@media screen and (max-width: 750px) {
    /* the padding of 15vh is to make it look nice in the middle on a desktop so disable it for smaller devices */
    .row, .rowTilesConstantHeight {
        padding-top: 0;
    }
}

/* setting up my columns to be up to 6 columns per row */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    min-height: 1px;
    float: left;
    padding: 10px;
    width: 16.6666%;
}

/* defined the width of col-1 in the above comment and then overwrite it for the other columns below*/

.col-2 {
    width: 33.3333%;
}

.col-3 {
    width: 50%;
}

.col-4 {
    width: 66.6666%;
}

.col-5 {
    width: 83.3333%;
}

.col-6 {
    width: 100%;
}

/* setting tiles to look good on any size screen */
@media screen and (max-device-width: 1089px) and (orientation: portrait) {
    .rowTilesConstantHeight {
        display: flex;
    }
}
@media screen and (max-width: 1089px)  {
    .rowTilesConstantHeight {
        display: flex;
    }
}
@media screen and (max-device-width: 750px) and (orientation: portrait) {
    .col-1 {
        width: 33.3333%;
    }
    .col-2 {
        width: 50%;
    }
    .col-3 {
        width: 66.6666%;
    }
    .col-4 {
        width: 83.3333%;
    }
    .col-5 {
        width: 100%;
    }
    .rowTilesConstantHeight {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .indexPage .rowTilesConstantHeight {
        padding-top: 5vh;
    }
    .aboutPage .col-5 {
        width: 66.6666%;
    }
    .container {
        max-width: 750px;
    }
}
@media screen and (max-width: 750px) {
    .col-1 {
        width: 33.3333%;
    }
    .col-2 {
        width: 50%;
    }
    .col-3 {
        width: 66.6666%;
    }
    .col-4 {
        width: 83.3333%;
    }
    .col-5 {
        width: 100%;
    }
    .rowTilesConstantHeight {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .indexPage .rowTilesConstantHeight {
        padding-top: 5vh;
    }
    .aboutPage .col-5 {
        width: 66.6666%;
    }
    .container {
        max-width: 750px;
    }
}
@media screen and  (max-device-width: 400px) and (orientation: portrait){
    /* up column size again */
    .col-1 {
        width: 50%;
    }
    .col-2 {
        width: 66.6666%;
    }
    .col-3 {
        width: 83.3333%;
    }
    .col-4, .col-5 {
        width: 100%;
    }
    .indexPage .col-2 {
        /* on the home page want the tiles to make up 100% of screen */
        width: 100%;
    }
    .indexPage .rowTilesConstantHeight {
        padding-top: 0;
    }
    .title {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .aboutPage [class*="col-"] {
        width: 100%;
    }
    .container {
        max-width: 400px;
    }
}
@media screen and (max-width: 400px) {
    /* up column size again */
    .col-1 {
        width: 50%;
    }
    .col-2 {
        width: 66.6666%;
    }
    .col-3 {
        width: 83.3333%;
    }
    .col-4, .col-5 {
        width: 100%;
    }
    .indexPage .col-2 {
        /* on the home page want the tiles to make up 100% of screen */
        width: 100%;
    }
    .indexPage .rowTilesConstantHeight {
        padding-top: 0;
    }
    .title {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .aboutPage [class*="col-"] {
        width: 100%;
    }
    .container {
        max-width: 400px;
    }
}
@media screen and (min-device-width: 1090px) and (orientation: portrait) {
    /* this is the max size that will display nicely */
    .container {
        max-width: 1090px;
    }
}
@media screen and (min-width: 1090px) {
    /* this is the max size that will display nicely */
    .container {
        max-width: 1090px;
    }
}
@media screen and (min-device-width: 750px) and (orientation: portrait) {
    /* for screens bigger than this I want the about title to appear above the text not image on the about page */
    .title .col-2 {
        float: right;
    }
}
@media screen and (min-width: 750px) {
    /* for screens bigger than this I want the about title to appear above the text not image on the about page */
    .title .col-2 {
        float: right;
    }
}


/* TILES FROM FRONT PAGE CSS */

.captionedImage {
    height: 100%;
    padding: 0px;
    padding-bottom: 1px;
    background-color: #96c8fa;
    border-radius: 5%;
    color: #000;
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
}
.captionedImage:hover {
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
}

.captionedImage h3 {
    margin: 5px;
}

/* IMAGE CSS */

.imageResize {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.imageRounded {
    border-radius: 5%;
}

/* HEADER CSS */
.navBarTop {
    position: static;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #96c8fa;
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
}

.navBarTop a {
    color: #ffffff;
    text-decoration: none;
}

.navBarButton:hover {
    text-decoration: underline;
}

.navBarHome:hover{
    /* Add code here if animation is desired on the home button too */
    text-decoration: none;
}

.navBarTop .container {
    max-width: 100%;
    display: block;
    padding: 15px;
}

.navBarHome {
    height:100%;
    padding: 10px;
    font-size: x-large;
    border-right: 2px solid;
    border-color: #66b9bf;
}

.navBarButton {
    padding: 5px;
    font-size: large;
}

@media screen and (max-device-width: 750px) and (orientation: portrait) {
    /* a device 385px or less won't display correctly */
    /* this 'mobile' site will just have a large Home at the top and links underneath which may wrap */
    .navBarHome {
        padding: 5px;
        display: flex;
        border-right: none;
        height: 100%;
        font-size: xx-large;
    }
    .navBarButton {
        font-size: x-large;
    }
}

@media screen and (max-width: 750px) {
    /* a device 385px or less won't display correctly */
    /* this 'mobile' site will just have a large Home at the top and links underneath which may wrap */
    .navBarHome {
        padding: 5px;
        display: flex;
        border-right: none;
        height: 100%;
        font-size: xx-large;
    }
    .navBarButton {
        font-size: x-large;
    }
}