
/* PAGE CSS */

html {
    font-family: "Trebuchet MS";
}
body {
    margin: 0px;
}

/* CLASSES */

.text-centre {
    text-align: center;
}

/* CONTAINER CSS */

.container {
    padding: 10px;
    margin: auto;
}
/* everything in container should be border-box so padding is included in width/height */
.container *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row, .rowTilesConstantHeight {
    margin-left: -10px;
    margin-right: -10px;
}

.rowTilesConstantHeight .col .captionedImage{
    height: 100%;
}

.col {
    position: relative;
    min-height: 1px;
    float: left;
    padding: 10px;
}

.tiles {
    width: 33.3333%;
}
@media (min-width: 0px) {
    .tiles {
        min-width: 100%;
    }
    .rowTilesConstantHeight {
        display: flex;
        flex-wrap: wrap;
    }
}
@media  (min-width: 300px){
    /*any screen smaller than this will look weird if they are still kept on same line*/
    .tiles {
        min-width: 50%;
    }

}
@media (min-width: 500px) {
    .tiles {
        min-width: 0%;
    }
    .rowTilesConstantHeight {
        display: flex;
    }
}
@media (min-width: 1090px) {
    /* this is the max size that will display nicely */
    .container {
        max-width: 1090px;
    }
}

/* TILES FROM FRONT PAGE CSS */

.captionedImage {
    padding: 0px;
    border: solid 1px;
    border-radius: 5%;
    color: rgba(0, 0, 0, 0.33);
}
.captionedImage:hover {
    color: #000;
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
}

/* IMAGE CSS */

.image-resize {
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.image-round {
    border-radius: 5%;
}

/* HEADER CSS */


/*
container -> row -> column (divide by 3 used often, 4 also used) [[possibly use an ID here for header and footer?]]

navbar classes need sorting
navbar -> navbar buttons

text-centre

table
*/