
/*
This is my first time writing a proper CSS file for a website and so please excuse any unconventional methods (and do let me know how I can improve! Please let me know at james.tavernor16@imperial.ac.uk
 */


/* PAGE CSS */

html {
    font-family: "Trebuchet MS";
    background-color: #ffffff;
    color: #000;
}
body {
    margin: 0px;
}
a {
    color: #ffffff;
    text-decoration: none;
}

/* CLASSES */

.text-centre {
    text-align: center;
}

/* CONTAINER CSS */

.container {
    padding: 10px;
    margin: auto;
}
/* everything in container should be border-box so padding is included in width/height */
.container *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row, .rowTilesConstantHeight {
    margin-left: -10px;
    margin-right: -10px;
}

.rowTilesConstantHeight .col .captionedImage{
    height: 100%;
}

.col {
    position: relative;
    min-height: 1px;
    float: left;
    padding: 10px;
}

.tiles {
    width: 33.3333%;
}
/* setting tiles to look good on any size screen */
@media (max-width: 1089px) {
    .tiles {
        min-width: 0%;
    }
    .rowTilesConstantHeight {
        display: flex;
    }
}
@media (max-width: 500px) {
    .tiles {
        min-width: 50%;
    }
    .rowTilesConstantHeight {
        display: flex;
        flex-wrap: wrap;
    }
}
@media  (max-width: 400px){
    /*any screen this size will look weird if they are still kept on same line*/
    .tiles {
        min-width: 100%;
    }
}
@media (min-width: 1090px) {
    /* this is the max size that will display nicely */
    .container {
        max-width: 1090px;
    }
}


/* TILES FROM FRONT PAGE CSS */

.captionedImage {
    padding: 0px;
    background-color: #07889b;
    border: solid 1px;
    border-radius: 5%;
    color: #000;
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);

}
.captionedImage:hover {
    border-width: thin;
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.4);
}

/* IMAGE CSS */

.image-resize {
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.image-round {
    border-radius: 5%;
}

/* HEADER CSS */
.navbarTop {
    position: static;
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #07889b;
    -webkit-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.25);
}

.navbarTop .container {
    max-width: 100%;
    display: block;
    padding: 15px;
}



.navBarHome {
    height:100%;
    padding: 10px;
    font-size: x-large;
    border-right: 2px solid;
    border-color: #66b9bf;
}

.navBarButton {
    padding: 5px;
    font-size: large;
}

@media (max-width: 400px) {
    /* a device 385px or less won't display correctly */
    /* this 'mobile' site will just have a large Home at the top and links underneath which may wrap */
    .navBarHome {
        padding: 5px;
        display: flex;
        border-right: none;
        height: 100%;
    }
}

/*
container -> row -> column (divide by 3 used often, 4 also used) [[possibly use an ID here for header and footer?]]

navbar classes need sorting
navbar -> navbar buttons

text-centre

table
*/